In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
ETCSalesDF = pd.read_csv("../data/ETCSalesPullDec22.csv")
ETCSalesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1996 entries, 0 to 1995
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Business Date              1996 non-null   object
 1   Check Closed Count  (Sum)  1996 non-null   int64
 2   Net Sales Total  (Sum)     1996 non-null   object
 3   Revenue Center Name        1996 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.5+ KB

In [3]:
print(ETCSalesDF.head())

  Business Date  Check Closed Count  (Sum) Net Sales Total  (Sum)  \
0      7/1/2017                         59                 613.81
1      7/2/2017                         75                 695.18
2      7/3/2017                        179               1,061.64
3      7/4/2017                          1                  63.42
4      7/5/2017                        228               1,546.13

  Revenue Center Name
0                 ETC
1                 ETC
2                 ETC
3                 ETC
4                 ETC

In [4]:
# rename columns
ETCSalesDF = ETCSalesDF.rename(columns={"Business Date": "Date", "Check Closed Count  (Sum)": "Checks", "Net Sales Total  (Sum)": "Net Sales", "Revenue Center Name": "Location"})
print(ETCSalesDF.head())

       Date  Checks Net Sales Location
0  7/1/2017      59    613.81      ETC
1  7/2/2017      75    695.18      ETC
2  7/3/2017     179  1,061.64      ETC
3  7/4/2017       1     63.42      ETC
4  7/5/2017     228  1,546.13      ETC

In [7]:
# convert date to datetime
ETCSalesDF['Date'] = pd.to_datetime(ETCSalesDF['Date'])
print(ETCSalesDF.head())

        Date  Checks Net Sales Location
0 2017-07-01      59    613.81      ETC
1 2017-07-02      75    695.18      ETC
2 2017-07-03     179  1,061.64      ETC
3 2017-07-04       1     63.42      ETC
4 2017-07-05     228  1,546.13      ETC

In [8]:
# add a year column
ETCSalesDF['Year'] = ETCSalesDF['Date'].dt.year

In [10]:
print(ETCSalesDF)

           Date  Checks Net Sales Location  Year
0    2017-07-01      59    613.81      ETC  2017
1    2017-07-02      75    695.18      ETC  2017
2    2017-07-03     179  1,061.64      ETC  2017
3    2017-07-04       1     63.42      ETC  2017
4    2017-07-05     228  1,546.13      ETC  2017
...         ...     ...       ...      ...   ...
1991 2022-12-13     203  2,965.73      ETC  2022
1992 2022-12-14      66    997.73      ETC  2022
1993 2022-12-15      31    475.88      ETC  2022
1994 2022-12-16      25    250.64      ETC  2022
1995 2022-12-17       0         0      ETC  2022

[1996 rows x 5 columns]