In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
ETCSalesDF = pd.read_csv("../data/ETCSalesPullDec22.csv")
ETCSalesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1996 entries, 0 to 1995
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Business Date              1996 non-null   object
 1   Check Closed Count  (Sum)  1996 non-null   int64
 2   Net Sales Total  (Sum)     1996 non-null   object
 3   Revenue Center Name        1996 non-null   object
dtypes: int64(1), object(3)
memory usage: 62.5+ KB

In [8]:
print(ETCSalesDF.head())

  Business Date  Check Closed Count  (Sum) Net Sales Total  (Sum)  \
0      7/1/2017                         59                 613.81
1      7/2/2017                         75                 695.18
2      7/3/2017                        179               1,061.64
3      7/4/2017                          1                  63.42
4      7/5/2017                        228               1,546.13

  Revenue Center Name
0                 ETC
1                 ETC
2                 ETC
3                 ETC
4                 ETC

In [10]:
ETCSalesDF = ETCSalesDF.rename(columns={"Business Date": "Date", "Check Closed Count  (Sum)": "Checks", "Net Sales Total  (Sum)": "Net Sales", "Revenue Center Name": "Location"})
print(ETCSalesDF.head())

       Date  Checks Net Sales Location
0  7/1/2017      59    613.81      ETC
1  7/2/2017      75    695.18      ETC
2  7/3/2017     179  1,061.64      ETC
3  7/4/2017       1     63.42      ETC
4  7/5/2017     228  1,546.13      ETC