In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
csv_path = "../data/URSalesExtract2.csv"

In [12]:
SalesDF = pd.read_csv(csv_path)
SalesDF

,Business Date,Net Sales Total (Sum),Number of Checks (Sum),Revenue Center Name
0,7/1/2017,0,0,Cellar
1,7/1/2017,613.81,59,ETC
2,7/1/2017,0,0,Tylers
3,7/1/2017,0,0,8:15
4,7/1/2017,0,0,Passport
...,...,...,...,...
8761,6/30/2021,0,0,ETC
8762,6/30/2021,0,0,Tylers
8763,6/30/2021,0,0,8:15
8764,6/30/2021,0,0,Passport
8765,6/30/2021,0,0,Lou's

In [13]:
SalesDF['Business Date'] = pd.to_datetime(SalesDF["Business Date"])

In [15]:
SalesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8766 entries, 0 to 8765
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Business Date            8766 non-null   datetime64[ns]
 1   Net Sales Total  (Sum)   8766 non-null   object
 2   Number of Checks  (Sum)  8766 non-null   int64
 3   Revenue Center Name      8766 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 274.1+ KB

In [27]:
SalesDF['Day of Week'] = SalesDF["Business Date"].dt.dayofweek
SalesDF['Month'] = SalesDF["Business Date"].dt.month
SalesDF['Year'] = SalesDF["Business Date"].dt.year
SalesDF['Quarter'] = SalesDF["Business Date"].dt.to_period('Q-JUN')
SalesDF['FY'] = SalesDF["Quarter"].dt.qyear

In [30]:
SalesDF

,Business Date,Net Sales Total (Sum),Number of Checks (Sum),Revenue Center Name,Day of Week,Month,Year,Quarter,FY
0,2017-07-01,0,0,Cellar,5,7,2017,2018Q1,2018
1,2017-07-01,613.81,59,ETC,5,7,2017,2018Q1,2018
2,2017-07-01,0,0,Tylers,5,7,2017,2018Q1,2018
3,2017-07-01,0,0,8:15,5,7,2017,2018Q1,2018
4,2017-07-01,0,0,Passport,5,7,2017,2018Q1,2018
...,...,...,...,...,...,...,...,...,...
8761,2021-06-30,0,0,ETC,2,6,2021,2021Q4,2021
8762,2021-06-30,0,0,Tylers,2,6,2021,2021Q4,2021
8763,2021-06-30,0,0,8:15,2,6,2021,2021Q4,2021
8764,2021-06-30,0,0,Passport,2,6,2021,2021Q4,2021
8765,2021-06-30,0,0,Lou's,2,6,2021,2021Q4,2021