In [1]:
import pandas as pd

In [2]:
csv_path = "../data/URSalesExtract2.csv"

In [5]:
SalesDF = pd.read_csv(csv_path)
SalesDF

,Business Date,Net Sales Total (Sum),Number of Checks (Sum),Revenue Center Name
0,7/1/2017,0,0,Cellar
1,7/1/2017,613.81,59,ETC
2,7/1/2017,0,0,Tylers
3,7/1/2017,0,0,8:15
4,7/1/2017,0,0,Passport
...,...,...,...,...
8761,6/30/2021,0,0,ETC
8762,6/30/2021,0,0,Tylers
8763,6/30/2021,0,0,8:15
8764,6/30/2021,0,0,Passport
8765,6/30/2021,0,0,Lou's

In [6]:
GroupedDF = SalesDF.groupby(['Business Date'])

In [9]:
GroupedDF.sum()

               Number of Checks  (Sum)
Business Date
1/1/2018                             0
1/1/2019                             0
1/1/2020                             0
1/1/2021                             0
1/10/2018                          105
...                                ...
9/8/2020                           781
9/9/2017                          1578
9/9/2018                          2584
9/9/2019                          4401
9/9/2020                           808

[1461 rows x 1 columns]